/planilla con base de datos/programa planilla con base de datos/Laboratorio3.1/build/
/planilla con base de datos/programa planilla con base de datos/Laboratorio3.1/nbproject/private/
/planilla con base de datos/Laboratorio3.1/build/
/planilla con base de datos/Laboratorio3.1/nbproject/private/
/planilla sin base de datos/nbproject/private/
/ListasEnlazadas con libros/EstructuraLibros/build/
/ListasEnlazadas con libros/EstructuraLibros/nbproject/private/
/Torres de hanoi/consola/build/
/Torres de hanoi/consola/nbproject/private/
/Torres de hanoi/grafico/torres_de_hanoi/build/
/Torres de hanoi/grafico/torres_de_hanoi/nbproject/private/